extends partials/simple.pug

block content
    h2 There was an error...

    article.alert.alert-error
        p= errorMessage

    p
        | Whoops! An error was encountered.
    
    p 
        | Try this: 
        a(href='/') Return to game

